BasedOnStyle: Google
IndentWidth: 2
UseTab: Never
AccessModifierOffset: -1
TabWidth: 2
ColumnLimit: 120
AlwaysBreakAfterReturnType: None
AllowShortFunctionsOnASingleLine: Inline
BreakBeforeBraces: Attach
AlignTrailingComments: true
ReflowComments: true
IncludeBlocks: Preserve

