BasedOnStyle: Google
IndentWidth: 2
TabWidth: 2
UseTab: Never
AccessModifierOffset: -1
ContinuationIndentWidth: 4
DerivePointerAlignment: false
PointerAlignment: Left
AlignAfterOpenBracket: Align
AlignOperands: true
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Inline
ColumnLimit: 120
ReflowComments: true
SortIncludes: false
IncludeBlocks: Preserve

